@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=Lato:wght@300;400;700&display=swap');

@import "tailwindcss";

@theme {
  --color-gold: #c8922a;
  --color-dark: #2c1a0e;
  --color-cream: #fdf8f0;
  --color-warm: #f5ede0;
  --color-brand: #3d2b1a;
  --color-accent: #8b4513;
  --color-tgreen: #4a7c59;
  --color-muted: #9a7a5a;

  --font-playfair: "Playfair Display", serif;
  --font-lato: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-lato);
  background-color: var(--color-cream);
}